*{
    font-family: Lato, Arial, serif;
}

/*************************************
            Header
*************************************/

#contact-info{
    margin: 30px 0 0 0;
}

#contact-info li{
    font-style: italic;
    display: inline;
    margin: 0 20px 0 0;
    padding: 0;
}

#name{
    margin: 19px 0px 15px 25px;
}

.floatleft{
    float: left;
}

.floatright{
    float: left;
}

#header{
    overflow: hidden;
    border-bottom: solid black 2px;
    margin: 18px 20px 6px;
}

#git-resume{
    padding: 0;
    margin: 0 0 5px 38px;
    font-size: 13px;
    font-style: italic;
    text-align: left;
}

/*************************************
        Info Block Formatting
*************************************/

.column{
    padding: 0;
    margin: 0;
    float: left;
    width: 50%;
}

.section{
    font-size: 13px;
    float: left;
    padding: 0;
    margin: 8px 30px 0 30px;
}

.right .section{
    margin-left: 10px;
}

.section *{
    padding: 0 0 0 8px;
    margin: 0 0 4px 0;
}

.section h3{
    padding: 0;
    font-weight: 500;
}

.section h4{
    font-style: bold;
}

.section p{
    font-style: italic;
}

.section ul{
    padding-left: 30px;
}

.item{
    margin: 14px 0 15px 20px;
}

#references{
    width: 90%;
}

#references h2{
    margin-bottom: 14px;
}

#references .item{
    clear: both;
    overflow: hidden;
    margin-top: 1px;
    margin-bottom: 0;
}

.ref-col-a{
    width: 38%;
    float: left;
}

.ref-col-a p{
    padding: 0;
}

.ref-col-b{
    float: left;
}

/*************************************
        Letter Formatting
*************************************/

body {
  background: rgb(204,204,204); 
}
page[size="Letter"] {
  background: white;
  width: 8.5in;
  height: 11in;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

@media print {
  body, page[size="Letter"] {
    margin: 0;
    box-shadow: 0;
  }
}